In [1]:
import tensorflow.compat.v1 as tf

In [2]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv(r'census_data.csv')
data.head()

,age,workclass,Final-weight,education,education-num,Marital-status,occupation,relationship,race,sex,capital-Gain,Capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
data['class'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [8]:
def label_fix(label):
    if label == ' <=50K':
        return 0
    else:
        return 1

In [9]:
data['class'] = data['class'].apply(label_fix)

In [10]:
data.head()

,age,workclass,Final-weight,education,education-num,Marital-status,occupation,relationship,race,sex,capital-Gain,Capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [11]:
from sklearn.model_selection import train_test_split

In [74]:
X = data.drop('class' , axis = 1)
Y = data['class']

In [75]:
X

,age,workclass,Final-weight,education,education-num,Marital-status,occupation,relationship,race,sex,capital-Gain,Capital-loss,hours-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States

In [76]:
Y

0        0
1        0
2        0
3        0
4        0
        ..
32556    0
32557    1
32558    0
32559    0
32560    1
Name: class, Length: 32561, dtype: int64

In [77]:
X_Train , X_Test , Y_Train , Y_Test = train_test_split(X , Y, test_size = 0.3 , random_state = 101)

### TF uses an API called estimator

In [78]:
cat_col = data.select_dtypes('object').columns

In [79]:
cat_feat = [tf.feature_column.categorical_column_with_hash_bucket(k,hash_bucket_size = 1000) for k in cat_col]
cat_feat  # hash_bucket_size = 1000 = There will be max of 1000 category in the column

[HashedCategoricalColumn(key='workclass', hash_bucket_size=1000, dtype=tf.string),
 HashedCategoricalColumn(key='education', hash_bucket_size=1000, dtype=tf.string),
 HashedCategoricalColumn(key='Marital-status', hash_bucket_size=1000, dtype=tf.string),
 HashedCategoricalColumn(key='occupation', hash_bucket_size=1000, dtype=tf.string),
 HashedCategoricalColumn(key='relationship', hash_bucket_size=1000, dtype=tf.string),
 HashedCategoricalColumn(key='race', hash_bucket_size=1000, dtype=tf.string),
 HashedCategoricalColumn(key='sex', hash_bucket_size=1000, dtype=tf.string),
 HashedCategoricalColumn(key='native-country', hash_bucket_size=1000, dtype=tf.string)]

In [80]:
num_col = data.select_dtypes('integer').columns.to_list()
num_col.remove('class')
num_col

['age',
 'Final-weight',
 'education-num',
 'capital-Gain',
 'Capital-loss',
 'hours-per-week']

In [81]:
cont_feat = [tf.feature_column.numeric_column(k) for k in num_col]
cont_feat

[NumericColumn(key='age', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='Final-weight', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='education-num', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='capital-Gain', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='Capital-loss', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='hours-per-week', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

In [82]:
feat_col = data.columns.to_list()
feat_col.remove('class')

### CREATE THE INPUT FUNCTION

In [137]:
input_func = tf.compat.v1.estimator.inputs.pandas_input_fn(x = X_Train , y = Y_Train ,
                                                           batch_size = 128 , num_epochs = None , shuffle = True)
                                                            # shuffle = whether to read the records in random order

In [92]:
X_Train.values

array([[22, ' Private', 129508, ..., 0, 28, ' United-States'],
       [47, ' Private', 151267, ..., 0, 40, ' United-States'],
       [46, ' Local-gov', 272780, ..., 0, 24, ' United-States'],
       ...,
       [62, ' Private', 69867, ..., 0, 50, ' United-States'],
       [49, ' Private', 187563, ..., 0, 40, ' United-States'],
       [41, ' Local-gov', 340682, ..., 0, 40, ' United-States']],
      dtype=object)

In [89]:
feature_columns = cat_feat + cont_feat
feature_columns

[HashedCategoricalColumn(key='workclass', hash_bucket_size=1000, dtype=tf.string),
 HashedCategoricalColumn(key='education', hash_bucket_size=1000, dtype=tf.string),
 HashedCategoricalColumn(key='Marital-status', hash_bucket_size=1000, dtype=tf.string),
 HashedCategoricalColumn(key='occupation', hash_bucket_size=1000, dtype=tf.string),
 HashedCategoricalColumn(key='relationship', hash_bucket_size=1000, dtype=tf.string),
 HashedCategoricalColumn(key='race', hash_bucket_size=1000, dtype=tf.string),
 HashedCategoricalColumn(key='sex', hash_bucket_size=1000, dtype=tf.string),
 HashedCategoricalColumn(key='native-country', hash_bucket_size=1000, dtype=tf.string),
 NumericColumn(key='age', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='Final-weight', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='education-num', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='capital-Gain', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='Capital-loss', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='hours-per-week', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

In [138]:
model = tf.estimator.LinearClassifier(n_classes = 2 , feature_columns = cat_feat + cont_feat)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\HRUSHI~1\AppData\Local\Temp\tmp2uvlnapd
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\HRUSHI~1\\AppData\\Local\\Temp\\tmp2uvlnapd', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_checkpoint_save_graph_def': True, '_service': None, '_cluster_spec': ClusterSpec({}), '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [139]:
model.train(input_fn = input_func , steps = 1000)  # How many iterations training have to run

INFO:tensorflow:Calling model_fn.

D:\Anaconda\envs\myenv\lib\site-packages\keras\engine\base_layer_v1.py:1684: UserWarning: `layer.add_variable` is deprecated and will be removed in a future version. Please use `layer.add_weight` method instead.
  warnings.warn('`layer.add_variable` is deprecated and '

INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 0...
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\HRUSHI~1\AppData\Local\Temp\tmp2uvlnapd\model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 0...
INFO:tensorflow:loss = 88.72284, step = 0
INFO:tensorflow:global_step/sec: 127.697
INFO:tensorflow:loss = 145854.64, step = 100 (0.784 sec)
INFO:tensorflow:global_step/sec: 267.669
INFO:tensorflow:loss = 77556.58, step = 200 (0.374 sec)
INFO:tensorflow:global_step/sec: 281.511
INFO:tensorflow:loss = 56560.047, step = 300 (0.355 sec)
INFO:tensorflow:global_step/sec: 273.156
INFO:tensorflow:loss = 38876.836, step = 400 (0.366 sec)
INFO:tensorflow:global_step/sec: 284.044
INFO:tensorflow:loss = 73105.27, step = 500 (0.352 sec)
INFO:tensorflow:global_step/sec: 280.253
INFO:tensorflow:loss = 8658.273, step = 600 (0.357 sec)
INFO:tensorflow:global_step/sec: 278.18
INFO:tensorflow:loss = 54704.83, step = 700 (0.360 sec)
INFO:tensorflow:global_step/sec: 233.269
INFO:tensorflow:loss = 10171.391, step = 800 (0.428 sec)
INFO:tensorflow:global_step/sec: 264.285
INFO:tensorflow:loss = 43536.29, step = 900 (0.378 sec)
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 1000...
INFO:tensorflow:Saving checkpoints for 1000 into C:\Users\HRUSHI~1\AppData\Local\Temp\tmp2uvlnapd\model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 1000...
INFO:tensorflow:Loss for final step: 6539.5693.

## Evaluation

In [140]:
pred_fn = tf.estimator.inputs.pandas_input_fn(x = X_Test , y = Y_Test , batch_size = len(X_Test) , shuffle = False)

In [141]:
predictions = list(model.predict(input_fn = pred_fn))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\HRUSHI~1\AppData\Local\Temp\tmp2uvlnapd\model.ckpt-1000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [142]:
predictions[0]

{'logits': array([-402.72156], dtype=float32),
 'logistic': array([0.], dtype=float32),
 'probabilities': array([1., 0.], dtype=float32),
 'class_ids': array([0], dtype=int64),
 'classes': array([b'0'], dtype=object),
 'all_class_ids': array([0, 1]),
 'all_classes': array([b'0', b'1'], dtype=object)}

In [143]:
final_preds = []
for pred in predictions:
    final_preds.append(pred['class_ids'][0])

In [144]:
import sklearn

In [145]:
from sklearn.metrics import classification_report

In [146]:
print(classification_report(Y_Test , final_preds))

              precision    recall  f1-score   support

           0       0.82      0.94      0.87      7436
           1       0.64      0.33      0.44      2333

    accuracy                           0.80      9769
   macro avg       0.73      0.64      0.66      9769
weighted avg       0.77      0.80      0.77      9769

In [107]:
X_Train

,age,workclass,Final-weight,education,education-num,Marital-status,occupation,relationship,race,sex,capital-Gain,Capital-loss,hours-per-week,native-country
20895,22,Private,129508,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Female,0,0,28,United-States
3384,47,Private,151267,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Wife,Black,Female,15024,0,40,United-States
1832,46,Local-gov,272780,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,24,United-States
18919,46,State-gov,314770,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,48,United-States
31685,60,Private,389254,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5695,63,Private,339473,Some-college,10,Divorced,Sales,Not-in-family,White,Female,0,0,60,United-States
8006,19,Private,127190,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,15,United-States
17745,62,Private,69867,Assoc-voc,11,Married-civ-spouse,Prof-specialty,Husband,White,Male,7298,0,50,United-States
17931,49,Private,187563,Some-college,10,Divorced,Other-service,Not-in-family,White,Male,0,0,40,United-States
13151,41,Local-gov,340682,HS-grad,9,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States

In [135]:
data['class'].value_counts()

0    24720
1     7841
Name: class, dtype: int64

In [136]:
Y_Train.value_counts()

0    17284
1     5508
Name: class, dtype: int64

In [150]:
pred_fn = tf.estimator.inputs.pandas_input_fn(x = X_Train , y = Y_Train , batch_size = len(X_Train) , shuffle = False)

predictions = list(model.predict(input_fn = pred_fn))

final_train_preds = []
for pred in predictions:
    final_train_preds.append(pred['class_ids'][0])
    
print(classification_report(Y_Train , final_train_preds))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\HRUSHI~1\AppData\Local\Temp\tmp2uvlnapd\model.ckpt-1000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
              precision    recall  f1-score   support

           0       0.81      0.94      0.87     17284
           1       0.61      0.31      0.41      5508

    accuracy                           0.79     22792
   macro avg       0.71      0.62      0.64     22792
weighted avg       0.76      0.79      0.76     22792